/* Reset de estilos para o documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: "Liberation", sans-serif;
  background-color: #ffffff;
  color: darkblue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.tags-and-date{
  display: flex;
  gap: 8px;
  align-items: center;
}

.content-containertad{
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding: 5px;
}

.date {
  font-size: smaller;
  display: flex;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
}

.tags {
  display: flex;
  font-size: smaller;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #a0acee; /* Cor de fundo azul claro */
  text-decoration: none; /* Remover sublinhado */
}

.tags a{
  text-decoration: none;
  color: darkblue; /* Cor do texto */
  
}

.tags p {
  display: flex;
  gap: 5px;
}

.highlight{
 /*border: 3px solid red;*/
 
}

.latest-news{
  /*border: 3px solid green;*/
  display: flex;
  flex-direction: column;
  row-gap: 6px;

}

.news-highlight img{
  width: 100%;
}

.dateandtagslatestnews{
display: flex;
align-items: center;
}

/* Estilos do cabeçalho */
header {
  background-color: #0d47a1;
  padding: 10px 0;
}

.navbar-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  background-color: #fff;
}


.top-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.social-media a {
  margin-right: 10px;
  color:rgb(255, 255, 255, 0.6);

}

.social-media a:hover {
    color:rgb(255, 255, 255);
}

.top-menu-text {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size:smaller;
}

.top-menu-text li {
  position: relative;
  list-style: none;
}

.top-menu-text a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.top-menu-text a:hover {
  color: lightskyblue;
}

.top-submenu-text {
  display: none;
  position: absolute;
  background-color: #0d47a1;
  color: #ffffff;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 1;

}

.top-menu-text li:hover .top-submenu-text {
  display: block;
}

.top-submenu-text li {
  margin-bottom: 5px;
  
}

.top-submenu-text a {
  color: #ffffff;
  text-decoration: none;
}

/* Formulário*/

.forgot-links {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  margin-top: 10px;
  color:#ffffff;
}

.forgot-links a {
  font-size:xx-small;
  color: #ffffff;
  width: max-content;
}

/*Botão do Formulário*/

#buttonform {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /*position: absolute;*/
  cursor: pointer;
  bottom: 0;
  right: 0;
  margin: 0;
}

#buttonform:hover {
  border: 1px solid black;
}

.login {
  align-items: center;
  font-size: smaller;
  max-width: 200px; 
}

.privatearea {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
}

/* Estilos para o link de pesquisa */
.search-box a {
  color: white;
  text-decoration: none;
}

/* Estilos para o ícone de pesquisa */
.search-box i {
  color: white;
  margin-right: 5px;
}

/* Estilos para o texto "Pesquisar" */
.search-box .search-text {
  color: white;
}

/* Estilos para a janela de busca */
.search-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o botão de fechar */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

/* Estilos para o título da janela de busca */
.search-popup h2 {
  color: white;
  text-align: center;
}

/* Estilos para a caixa de busca e botão */
.search-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 350px;
}


/* Estilos para o campo de busca */
.search-popup #search {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  justify-items: center;
  margin-right: 10px;
}

/* Estilos para o botão de busca */
.search-popup #search-button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para o hover do botão de busca */
.search-popup #search-button:hover {
  background-color: darkblue;
}

/*Menu Fixo ao Rolar a Página*/
.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}



/* Estilos do menu principal */
.main-menu {
  background-color: #1976d2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  font-size: larger;
}

.logo img {
  width: 180px;
  height: 100px;
}

.logo a:hover img {
  opacity: 0.7;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  position: relative;
  margin-right: 20px;
  padding: 10px;
  
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  
}

.menu a:hover {
  color: darkblue;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #1976d2;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 1;
  font-size: smaller;
}

.menu li:hover .submenu {
  display: block;
  color: darkblue;
}

.submenu li {
  margin-bottom: 5px;
  list-style: none;
}

.submenu a {
  color: #ffffff;
  text-decoration: none;
}

/*Novo*/

.sub-submenu{
  display: none;
  
}

.submenu li{
  width: 150px;
  align-items: center;
}

.sub-submenu a{
  width: 150px;
  align-items: center;
}


.submenu li:hover > .sub-submenu{
  display: block;  
}

.sub-submenu {
  display: none;
  position: absolute;
  background-color: #1976d2;
  /*width:max-content;*/
  padding-left: 25px;
  top: 0;
  left: 100%;
  z-index: 2;
  
}

.submenu li:hover > .sub-submenu {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(1px); /* Ajuste a distância horizontal conforme necessário */
}

.sub-submenu li {
  display: block; /* Exibir os itens do sub-submenu em linha */
  margin-right:5px; /* Ajuste o espaçamento entre os itens conforme necessário */
}

.sub-submenu a {
  color: #ffffff;
  text-decoration: none;
}


.sub-sub-submenu{
  display: none;
}

.sub-submenu li:hover > .sub-sub-submenu{
  display: block;  
}

.sub-sub-submenu {
  display: none;
  position: absolute;
  background-color: #1976d2;
  /*width:max-content;*/
  padding-left: 5px;
  top: 0;
  left: 150%;
  z-index: 3;
  
}

.sub-submenu li:hover > .sub-sub-submenu {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(1px); /* Ajuste a distância horizontal conforme necessário */
}

.sub-sub-submenu li {
  display: block; /* Exibir os itens do sub-sub-submenu em linha */
  margin-right: 10px; /* Ajuste o espaçamento entre os itens conforme necessário */

}

.sub-sub-submenu a {
  color: #ffffff;
  text-decoration: none;
}

/* Estilos para o botão do menu sanduíche */
.menu-toggle {
  display: none; /* Oculta o botão em telas maiores */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* Estilos para o menu quando o botão do menu sanduíche estiver ativo */
.menu.active {
  display: block;
}




/* Estilos do conteúdo principal */
main {
  padding: 20px;
  margin: 0px 100px;
}

main section {
  margin-bottom: 60px;
}

.banner{
  aspect-ratio: 4/1;
  display:flex;
  justify-content: center;
}
.banner img {
  /*width: 100%;
  height: auto;*/
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: smaller;
}

.titlec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: smaller;
}

.news {
  display: flex;
  gap: 10px;
  justify-content: center;
  /*background-color: black;*/
}

.latest-news-item{
  display: flex;
  gap: 3vh;
  align-items: center;
  max-width: 90vh;
}

.image-container {
  flex: 0 0 auto;

}

.image-container img {
  width: 100%;
}

.content-container {
  flex: 1 1 auto;
}

.date-and-tagslatestnews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7vh;
}

.sphere-container {
  display: flex;
}

.sphere-link {
  flex: 1;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.sphere {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.sphere:hover {
  background-color: blue;
}

.sphere-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.sphere-label {
  /*margin-top: 10px;
  margin-right: 40px;*/
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
  color: blue;
}

.sphere-label:hover {
  color: darkblue;
}


.events3 {
  display: flex;
  background-color: #e0eaf5;
  gap: 20px;
  padding: 20px;
 
  
}

.events {
  /*display: flex;
  flex-direction: column;
  justify-content: space-evenly;*/
  width: 40%;
   
}

.editais-selecoes{
  width: 60%;
}

.event{
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;
  gap: 1px;
  margin-left: 20px;*/
  height: 100%;
 
  
}

.event-item{
  background-color: #fff; /* cor de fundo branca */
  border-radius: 9px;
  border-bottom: 2px solid blue; /* borda inferior azul */
  padding: 10px; /* espaçamento interno para separar o conteúdo da borda */
  text-align: center; /* centralizar o conteúdo horizontalmente */
  margin-bottom: 10px; /* espaçamento inferior para separar os eventos */ 
  
     
}

 .event-item img {
  width: 200px; /* Largura desejada */
  height: 150px; /* Altura desejada */
}

  .edital-list {
    list-style: none;
    padding: 0;
  }

   .edital-list a {
    text-decoration: none;
    color:darkblue;
    font-size: smaller;
  }
  
  .edital-item {
    background-color: #F5F5F5;
    border-bottom: 2px solid blue;
    border-radius: 10px;
    padding: 30px;
    /*margin-right: 20px;*/
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .edital-date {
    text-align: right;
    margin: 0;
    
  }



.about-cchla{
  padding: 20px;
}

/*.about-cchla1 img {
  width: 70vh;
  height: 50vh;
  margin-bottom: 10px;
}*/

.about-cchla1 > div:first-child {
  width: 40%; /* Definir a largura da div com a imagem */
  height: 100%;
}

.about-cchla1 > div:last-child {
  width: 60%; /* Definir a largura da div com o texto */
}

.about-cchla1 {
  display: flex;
  gap:20px;
}

.about-cchla1 > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para garantir que a imagem ocupe todo o espaço e mantenha a proporção */
}

.about-cchla-text {
  text-align: justify;
}

.links{
  font-weight: bolder;
  color: #1976d2;
}

.videos-section {
  background-color: #041436;
  padding: 20px;
  color: #fff;
}

.videos-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.main-video {
  flex: 0 0 60%;
  margin-right: 20px;
}

.main-video iframe {
  width: 100%;
  height: 80%;
}

.video-title {
  margin-top: 10px;
  flex-wrap: wrap;
  max-width: 100%;
  font-size: smaller;
}

.small-videos {
  flex: 0 0 35%;
}

.small-video {
  align-items: center;
  margin-bottom: 20px;
}

.small-video iframe {
   width: 100%;
  height: 80%;
  
}

.small-video .video-title {
  margin-top: 0;
  flex: 1;
}

.location{
  background-color: #f2f2f2;
}

.location p {
  margin-bottom: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.address_and_contact{
  display: flex;
  justify-content: space-around;
}

.address_and_contact_item{
  display: flex;
  gap: 3vh;
}

/* Container Menu Footer*/

.container-menu-footer {
  background-color:#1976d2;
  display: flex; 
  justify-content:center; 
  
}

/*Estilo Menu Footer*/

.menu-footer {
  display: flex;
  list-style-type: none;
  justify-content:flex-start;
  align-items:flex-start;
  column-gap: 120px;
  flex-wrap: wrap;
  margin-left: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bolder;
 }



.menu-footer a {
  text-decoration: none;
  color: whitesmoke;
}

.menu-footer a:hover {
  color: darkblue;
}


/*Estilo Submenu Footer*/

.submenu-footer{
  list-style-type: none;
  margin-top: 10px;
  text-transform:initial;
  font-size: smaller;
  font-weight: lighter;
  width: 200px;
  
}

.submenu-footer li{
  margin-bottom: 10px;
  
}


/* Estilos do rodapé */
footer {
  background-color: #0d47a1;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}


/*Voltar para Página Inicial*/
.comeback {
  color: darkblue;
}

.comeback:hover{
  color:#0d47a1;
}

/*Botão*/

#scrollButton {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #041436;
      border: 1px solid white;
      color: #ffffff;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    #scrollButton:hover{
      background-color:#0d47a1;
      border: 1px solid black;
    }

    #scrollButton:before {
      content: "\2191";
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    /*Tabela*/

    table, th, td{
    border: 3px solid lightblue;
    border-collapse: collapse;
    max-width: 90%;
    margin: auto;
    padding: 7px;
    
}

th{
    height: 45px;
    background-color: darkblue;
    color: white;
}

/* Estilos para telas menores */
/*@media only screen and (max-width: 768px) {
  /* Ajuste do menu principal */
 /* .main-menu {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
  }

  .menu {
    flex-direction: column;
  }

  .search-box {
    margin-top: 20px;
  }

  /* Ajuste do banner */
  /*.banner img {
    width: 100%;
    height: auto;
  }

  /* Ajuste das seções de notícias */
  /*.news {
    flex-direction: column;
  }

  .highlight {
    margin-bottom: 20px;
  }

  .news-highlight svg {
    width: 100%;
    height: auto;
  }

  .latest-news-item {
    margin-bottom: 20px;
  }

  .latest-news-item .image-container {
    width: 100%;
    height: auto;
  }
}

/* Estilos para telas maiores */
/*@media only screen and (min-width: 769px) {
  /* Ajuste do menu principal */
  /*.main-menu {
    flex-direction: row;
  }

  .logo {
    margin-bottom: 0;
  }

  .menu {
    flex-direction: row;
  }

  .search-box {
    margin-top: 0;
  }

  /* Ajuste do banner */
  /*.banner svg {
    width: 100%;
    height: auto;
  }

  /* Ajuste das seções de notícias */
  /*.news {
    flex-direction: row;
  }

  .highlight {
    margin-bottom: 0;
  }

  .news-highlight img {
    width: 400px;
    height: auto;
  }

  .latest-news-item {
    margin-bottom: 0;
  }

  .latest-news-item .image-container {
    width: 200px;
    height: auto;
  }
}*/

/*Acessibilidade*/
  #contrastItem {
    display: flex;
    align-items: center;
  }

#contrastButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to right, darkblue 0%, darkblue 50%, #ffffff 50%, #ffffff 100%);
  border: none;
  cursor: pointer;
  
}

#contrastButton:hover::after {
  content: "Alterar para o modo de alto contraste";
  position: absolute;
  top: 50px;
  left: -50px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: inline-block; /* Alterado para inline-block */
  width: auto; /* Largura automática */
  text-align: center; /* Alinhamento centralizado */
  white-space: nowrap; /* Evita quebra de linha */
}

#contrastButton:hover::after {
  visibility: visible;
  opacity: 1;
}

/* Definir cores para alto contraste */
body.contrast {
  background-color: black;
  color: white;
}

/* Definir cores dos links para alto contraste */
body.contrast a {
  color: yellow;
}

/* Definir cores dos botões para alto contraste */
body.contrast button {
  background-color: yellow;
  color: black;
}

/* Definir cores dos campos de entrada para alto contraste */
body.contrast input {
  background-color: yellow;
  color: black;
}

/*Responsividade*/

@media screen and (max-width: 960px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.show {
    display: block;
  }

  .top-menu{
    flex-direction: column;
  }
  
  .top-menu-text.navbar-menu {
    flex-direction: column;
  }

  .top-submenu-text {
    display: block;
    position: static;
    background-color: #0d47a1;
    color: #ffffff;
    padding: 10px;
    margin-top: 5px;
    z-index: 1;
  }
  
  .top-menu-text.navbar-menu li:hover .top-submenu-text {
    display: block;
  }
  
  .top-menu-text.navbar-menu li:focus-within .top-submenu-text {
    display: block;
  }

.submenu,
  .sub-submenu,
  .sub-sub-submenu {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    max-height: none;
    overflow: visible;
  }
  
  .submenu {
    top: auto;
    left: auto;
    margin-top: 10px;
  }
  
  .sub-submenu {
    margin-left: 10px;
  }
  
  .sub-sub-submenu {
    margin-left: 20px;
  }
  
  .menu li:hover .submenu,
  .submenu li:hover .sub-submenu,
  .sub-submenu li:hover .sub-sub-submenu {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    max-height: none;
    overflow: visible;
  }

  /* Mostra o botão do menu sanduíche em telas menores que 960px */
  .menu-toggle {
    display: block;
  }
  
  /* Oculta o menu principal em telas menores que 960px */
  .menu {
    display: none;
  }

  #contrastButton {
    display: none;
  }

  .main-menu {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
  }

  .menu {
    flex-direction: column;
  }

  .search-box {
    margin-top: 20px;
  }

  .news {
    flex-direction: column;
    
  }

  .latest-news-item{
    flex-direction: column;
  }

  .sphere-container {
    flex-direction: column;
  }

  .events3 {
    flex-direction: column;
   
    
  }

  .about-cchla1{
    flex-direction: column;
    align-items: center;
  }
}